nav {
    background-color: green;
    text align: center;
    color: white;
}
header {
    text-align: center;
    background-color: green;
}
h2{
    text-align: Center;
}
p{
    text-align: center;
}
body{
    justify-content: center;
    background-color: green;
    align-items: center;
}
img{
    justify-content: center;
    text-align: center;
    align-items: center;
}